:root {
    --main-color:rgb(0, 174, 255);
    --sub-color:rgb(143, 196, 209);
    --main-font-size: 25px;
    --sub-font-size:18px;
}
.container{
    display: block;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid var(--sub-color);
    border-radius: 20px;
    width: 500px;
}
#search {
    padding: 5px 25px;
}
.submitcity {
    text-align: center;
    margin: 40px;
}
.submitcity .active {
    color:var(--sub-color);
    cursor: default;
}
#cityname {
    color: var(--main-color);
    font-size: var(--main-font-size);
    font-weight: bolder;
    line-height: 20px;
}
#time{
    color: var(--sub-color);
    font-size: var(--sub-font-size);
    line-height: 30px;
}
#currenttemperature {
    color: var(--main-color);
    font-size: var(--main-font-size);
    line-height: 20px;
    text-decoration: none;
}
#description {
    color: var(--sub-color);
    font-size: var(--sub-font-size);
    text-transform: capitalize;
}
span #celsius {
    color: var(--main-color);
    font-size: var(--main-font-size);
    text-decoration: none;   
}
span #fahrenheit {
    color: var(--main-color);
    font-size: var(--main-font-size);
    text-decoration: none;
}
#more-info {
    color: var(--sub-color); 
    font-size: var(--sub-font-size);
}
.info {
    color: var(--main-color);
}
.source {
    text-align: center;
    font-size: 14px;
}
.open-source {
    text-decoration: none;
}
ul {
    list-style: none;
}
#forecast {
    text-align: center;
    margin-top: 10px;
}
.weather-forecast-date {
    font-size: var(--sub-font-size);
    color: var(--main-color);
}
.weather-forecast-temp .min {
    color:var(--main-color);
}
.weather-forecast-temp .max {
   color: var(--sub-color);
}
.row {
    display: flex;
    justify-content: space-around;
}
